body {
  font-family: "Roboto";
}

.body-text {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 250%;
}

.header-image {
	width: 30%;
	height: 30%;
	float: center;
	padding-top: 20px;
}

p {
	font-family: "Times New Roman";
}