
body {
	font-family: roboto;
}

.body-text {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 250%;
}

h2 {
	text-align: center;
	font-size: 200%;
}

p {
	text-align: center;
	font-size: 100%;
}

ul {
	text-align: left;
}

.company-logo {
	width: 20%;
	height: 20%;
	float:left;
	padding-right: 20px;
	padding-bottom: 20px;
}

.header-image {
	width: 30%;
	height: 30%;
	float: center;
	padding-top: 20px;
}

a {
color: #4A90E2;

}

.company-name {
	color: #4A90E2;
	text-align: left;
	font-size: 150%;
}

.company-description {
	text-align: left;
}

.job-title {
	text-align: left;
	font-weight: bold;
}

.footer-image {
	width: 7%;
	height: 7%;
	padding-left: 10%;
	padding-right: 10%;
}

.job-timeframe {
	text-align: left;
	color: grey;
}
.job-description {
	text-align: left;
}